.tooltip {
	position: fixed;
	top: 10px;
	left: 65%;
}

.tooltip-content {
	display: none;
	position: relative;
	right: 100%;
}

.tooltip:hover .tooltip-content {
	display: block;
	background: black;
	color: white;
	border-radius: 15px;
	padding: 10px;
}